{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/follow.js' %}"></script>
{% endblock %}

{% block body %}

<div class="profile-container">
    <p id="person">{{author.username}}</p>
    <div class="follow-container">
        <div class="follow-number">
            <div>{{following}}</div>
            <div>{{followers}}</div>
        </div>
        <div class="follow-text">
            <div>Following</div>
            <div>Followers</div>
        </div>
        <div>
            {% if user.is_authenticated %}
                {% if follow_button %}
                    <button class="button-style">{{button_text}}</button>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>  

<hr>
{% for post in posts %}
    <div class="post">
        <div>
            <div class="author">
                <a href= "{% url 'profile' post.author.username %}">{{post.author.username}}</a> 
            </div>
            <div class="likes">Likes: {{post.liked__count}}</div>
        </div>
            <p class="timestamp">{{post.timestamp}}</p>
            <p class="post-content">{{post.body}}</p>  
    </div>

{% endfor %}
 
        
{% endblock %}