{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
    <script src="{% static 'network/edit.js' %}"></script>
    <script src="{% static 'network/like.js' %}"></script>
{% endblock %}

{% block body %}

    {% if user.is_authenticated %}
        <div class="new-post">
            <textarea class="form-control" id="new-post-text" placeholder="What's on your mind?"></textarea>
            <input type="submit" class="button-style" id="add-post" value="Post">
        </div>
    {% endif %}

    {% for posting in page_obj%}
        <div class="post">
            <div class='id' style="display:none">{{posting.id}}</div>
            <div class="post-author-likes">
                <div class="author">
                <a  href= "{% url 'profile' posting.author.username %}">{{posting.author.username}}</a> 
                </div>
                <div class="likes">
                    <button class="like-button">&#128077</button>
                    {{posting.liked__count}}
                </div>
            </div class="post-timestamp-content">
                <p class="timestamp">{{posting.timestamp}}</p>
                <p class="post-content">{{posting.body}}</p> 
            {% if user == posting.author %} 
                <div class="button-container">
                    <button class="button-style edit-button">Edit</button>
                </div>
            {% endif %}
           
        </div>   
    {% endfor %}
   
    <ul class="pagination">
        <li class="page-item">
        
        {% if page_obj.has_previous %}
        <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
        {% endif %}
        </li>

        {% for page in num_pages %}
            {% if page == page_obj.number %}
                <li class="active page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        {% endif %}
        </li>
    </ul>
      
{% endblock %}


        
