{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script> 
{% endblock %}

{% block body %}
    <div class="new-post">
        <textarea class="form-control" id="new-post-text" placeholder="What's on your mind?"></textarea>
        <input type="submit" class="button-style" id="add-post" value="Post">
    </div>

    {% for posting in postings %}
        <div class="post">
            <div>
                <div class="author">
                   <a href= "{% url 'profile' posting.author.username %}">{{posting.author.username}}</a> 
                </div>
                <div class="likes">Likes: {{posting.liked__count}}</div>
            </div>
                <p class="timestamp">{{posting.timestamp}}</p>
                <p class="post-content">{{posting.body}}</p>  
        </div>
        
    {% endfor %}
{% endblock %}


        
