{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/follow.js' %}"></script>
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
    {% if follow_button %}
        <button>{{button_text}}</button>
    {% endif %}
{% endif %}

<p id="person">{{author.username}}</p>
<p>Following: {{following}}</p>
<p>Followers: {{followers}}</p>

{% for post in posts %}
    <div class="post">
        <div>
            <div class="author">
                <a href= "{% url 'profile' post.author.username %}">{{post.author.username}}</a> 
            </div>
            <div class="likes">Likes: {{post.liked__count}}</div>
        </div>
            <p class="timestamp">{{post.timestamp}}</p>
            <p class="post-content">{{post.body}}</p>  
    </div>

{% endfor %}
 
        
{% endblock %}